/*Seperate from other headers bc I want padding*/
h1 {
  text-align: center;
}

h2, h3 {                                                                       
    text-align: center;                                                        
    padding-bottom: 0;                                                         
}  

/*Should always be on right without moving*/
nav {
    font-size: 30px;
    position: absolute;
    width: auto;
    left: 0;
    text-align: left;
    margin:0 auto;
}

body {
    background-image: url(../Pics/MarioSNES.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    text-align: center;
}

table, td {
    margin-left: auto;
    margin-right:auto;
    color: blue;
    border: 1px solid black;
}

/*This is the div I put my information in*/
#profile {
    float: right;
    width: 350px;
    border: 1px solid red;
    color:  black;
    background-color: powderblue;
}

/*Sets size and margin for profile pic in profile*/
#ProfilePic {
    height: 20%;
    width: 20%;
    margin-left: 40%;
    margin-right: 50%;
}

#profile ul {
    padding-left: 50px;
}
 
#profile ul li {
    list-style-position: inside;
}

nav ul{
    list-style-type: none;
}

a:hover {
    color: red;
    font-size: 40px;
}

/*Should always be at the bottom of the page*/
footer {
    display: inline;
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

/*moved style from validator to here*/
img.validator {
    border:0;
    width:88px;
    height:31px;
}
