/*
Ronald Manganaro(c) copyright 2016
Email: ronald_manganaro@student.uml.edu
COMP 3010 - 201 GUI Programming I
In-class Assignment 2
Ronald Manganaro, Umass Lowell Computer Science
Date: September 29, 2016

Description:
I edited the css so that the website will expand and contract
with the size of the browser window. I followed all the hints/help
instructions.
*/

body {
    font-size: 80%;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 0.15em;
    background-color: white;
}

#page {
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    padding: 20px;
    border: 4px double #000;
    background-color: #ffffff;
}

#logo {
    width: 150px;
    margin: 10px auto 25px auto;
}

ul {
    width: 570px;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}

li {
    display: inline;
    margin: 0px 3px;
}

p {
    text-align: center;
    width: 600px; 
    margin: 20px auto 20px auto; 
    font-weight: normal;
}

a {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 18px 5px 18px;
}

a:hover, a.on {
    color: red;
    background-color: #ffffff;
}
